@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-app-bg: #e4e4e7;
  --color-app-sidebar: #ffffff;
  --color-app-card: #ffffff;
  --color-app-accent: #bef264;
  --color-app-secondary: #fefce8;
  --color-app-border: rgba(0, 0, 0, 0.05);
  --color-app-text-main: #18181b;
  --color-app-text-muted: #71717a;
  --color-app-accent-hover: #d9f99d;
}

.dark {
  --color-app-bg: #030712;
  --color-app-card: #0f172a;
  --color-app-sidebar: #020617;
  --color-app-border: rgba(255, 255, 255, 0.05);
  --color-app-text-main: #f8fafc;
  --color-app-text-muted: #64748b;
  --color-app-secondary: #1e293b;
  --color-app-accent: #bef264;
}

@layer base {
  body {
    @apply bg-app-bg text-app-text-main font-sans antialiased transition-[background-color,color,border-color,box-shadow] duration-700 ease-in-out;
    background-image: 
      radial-gradient(circle at 2px 2px, rgba(0, 0, 0, 0.03) 1px, transparent 0);
    background-size: 32px 32px;
  }

  .dark body {
    background-image: 
      radial-gradient(circle at 2px 2px, rgba(255, 255, 255, 0.015) 1px, transparent 0);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold tracking-tight text-app-text-main transition-[color] duration-700 ease-in-out;
  }
}

.glow-hover {
  @apply transition-all duration-300;
}

.glow-hover:hover {
  @apply shadow-2xl shadow-black/5 -translate-y-0.5 border-transparent;
}

.industrial-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.industrial-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.industrial-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;
}

.industrial-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

